<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    <!-- bootstrap & fontawesome -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- page specific plugin styles -->
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.custom.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/ui.jqgrid.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />

    <!-- text fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!-- ace styles -->
    <link href="~/Content/ace.min.css" rel="stylesheet" />
    <link href="~/Content/AceExt.css" rel="stylesheet" />

    <!-- ace settings handler -->
    <script src="~/Scripts/ace-extra.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>


</head>
<body>
    <script src="~/Scripts/grid/jquery.jqGrid.min.js"></script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("應用程式名稱", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("A01", "Index", "Home")</li>
                    <li>@Html.ActionLink("A02", "About", "Home")</li>
                    <li>@Html.ActionLink("A03", "Contact", "Home")</li>
                    <li>@Html.ActionLink("A04", "GridTest", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 應用程式</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
